<div style="text-align: center;">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<mat-tab-group>
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">
        <button (click)="onClick()">hoge</button>
    </mat-tab>
    <mat-tab label="Tab 3">
        <div>
            <input type="text" customEvent (keyupEx)="change($event)">
        </div>
        <div>

        </div>
    </mat-tab>
    <mat-tab label="Tab 4">
        <div>
            <custom-component [(ngModel)]="num"></custom-component>
        </div>
        <div>
            CustomComponent.value:{{ num }}
        </div>
    </mat-tab>
</mat-tab-group>
