<div style="text-align: center;">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<mat-tab-group>
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">
        <button (click)="onClick()">hoge</button>
    </mat-tab>
    <mat-tab label="Tab 3">
        <div>
            <input type="text" customEvent (keyupEx)="change($event)">
        </div>
        <div>
            <input type="text" customNumber>
        </div>
        <div>
            <input type="number" customNumber>
        </div>
    </mat-tab>
    <mat-tab label="Tab 4">
        <div>
            <custom-component [(ngModel)]="num"></custom-component>
        </div>
        <div>
            CustomComponent.value:{{ num }}
        </div>
    </mat-tab>
    <mat-tab label="Tab 5">
        <div>
            <form #form="ngForm">
                <input type="text" name="memo" required [(ngModel)]="memo" #memoTxt="ngModel">
                <ul>
                    <li *ngIf="form.valid">form.valid</li>
                    <li *ngIf="form.invalid">form.invalid</li>
                    <li *ngIf="form.touched">form.touched</li>
                    <li *ngIf="form.untouched">form.untouched</li>
                    <li *ngIf="form.pristine">form.pristine</li>
                    <li *ngIf="form.dirty">form.dirty</li>
                    <li>memoTxt.touchedOrDirty {{ memoTxt.touchedOrDirty() ? 'true' : 'false' }}</li>
                    <li>memoTxt.invalidAndEdited {{ memoTxt.invalidAndEdited() ? 'true' : 'false' }}</li>
                </ul>
            </form>
        </div>
        <div>
            <button (click)="setMemo('memo')">set</button>
            <button (click)="setMemo('')">clear</button>
        </div>
    </mat-tab>
    <mat-tab label="FormPanel">
        <div>
            changeDetection: ChangeDetectionStrategy.Default
        </div>
        <div>
            <custom-form-panel [(memo)]="memo"></custom-form-panel>
        </div>
    </mat-tab>
    <mat-tab label="FormPanel2">
        <div>
            changeDetection: ChangeDetectionStrategy.OnPush
        </div>
        <div>
            <custom-form-panel2 [(memo)]="memo"></custom-form-panel2>
        </div>
    </mat-tab>
    <mat-tab label="ngIf">
        <div>
            <input type="text" name="memo" required [(ngModel)]="memo" #txtMemo1="ngModel">
            <div *ngIf="txtMemo1.hasError('required')">
                必須入力です
            </div>
        </div>
    </mat-tab>
    <mat-tab label="hidden">
        <div>
            <input type="text" name="memo" required [(ngModel)]="memo" #txtMemo2="ngModel">
            <div [hidden]="!txtMemo1.hasError('required')">
                必須入力です
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
